.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;
    [class^="col-"] {

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tablet-portrait) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tablet-portrait) {
            width: 35% !important;
        }

        @include respond(smaller-phone) {
            width: 55% !important;
        }   
    }

    .col-1-of-3 {
        width: calc((100% - 5 * #{$gutter-horizontal}) / 3);
        margin: 0 auto;
    }
}
    

