.container {
  margin: 0 auto;
  max-width: 80rem;
  transition: all 0.4s;
}

.box {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.form {
  position: relative;

  padding: 4rem 5rem;
  background-color: #fff;
  border-radius: 1rem;
}

.formTitle {
  background-color: #0082c8;
  border: 0.6rem solid #fff;
  border-radius: 1rem;
  color: #fff;
  font-size: 3.2rem;
  margin-bottom: 0.6rem;
  padding: 1rem 4rem;
  position: absolute;
  top: -4rem;
  left: 0;
}

.text {
  font-size: 1.5rem;
}

.text:not(:last-child) {
  margin-bottom: 0.6rem;
}

.input {
  position: relative;
}

.value {
  border: 2px solid gray;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin-top: 1.5rem;
  padding: 1.8rem 1rem;
  padding-right: 18rem;

  width: 100%;
}

.value:focus {
  outline: none;
}

.button {
  background-color: #0082c8;
  border: 2px solid #0082c8;
  border: none;
  /* border-left: none; */
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 1.5rem;
  padding: 1.9rem 1rem;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  width: 15rem;
}

.button:hover {
  cursor: pointer;
}

.pokemon {
  border-radius: 1rem;
  text-align: center;
  margin: 0 auto;
  width: 35rem;
  margin-top: 5rem;
  transition: all 0.3s;
}

@media only screen and (max-width: 75em) {
  .container {
    flex-wrap: wrap;
    flex: 0 0 100% !important;
  }
}

@media only screen and (max-width: 56.25em) {
  .container {
    max-width: 50rem;
  }
  .formTitle {
    font-size: 2.5rem;
    left: 50%;
    padding: 1rem;
    text-align: center;
    transform: translateX(-50%);
    width: max-content;
  }
}

@media only screen and (max-width: 37.5em) {
  .container {
    width: 100%;
    padding: 0 1.5rem;
  }

  .grid {
    margin: 0 2rem;
  }

  .formTitle {
    font-size: 2rem;
    top: -2.5rem;
  }

  .value {
    padding-right: 13rem;
  }

  .button {
    width: 10rem;
  }
}

@media only screen and (max-width: 25.875em) {
  .value {
    padding-right: 9rem;
  }

  .button {
    width: 8rem;
  }
}
