.pokemon {
  background-color: #fff;
  border-radius: 0.6rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: block; /* Overwrites <Link> styles */
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s;
}

.pokemon:hover {
  transform: translateY(-0.5rem);
}

.sprite {
  width: 50%;
  padding: 4rem;
}

.pokeID {
  align-items: center;
  background-color: #0082c8;
  border: 0.4rem solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  position: absolute;

  top: -2.5rem;
  left: -1rem;

  width: 5rem;
  height: 5rem;
}

.button {
  background: #0082c8;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  max-width: 100%;
  padding: 0.6rem 0;
}
.name {
  font-size: 3rem;
  font-weight: 600;

  text-transform: capitalize;
}

.types {
  margin-bottom: 1.4rem;
}
