.pokemon {
   background-color: #ffffff;
   border-radius: 5px;
   margin: 0 auto;
   padding: 2rem 0;
   max-width: 114rem;

   display: grid;
   grid-template-columns: repeat(2, 1fr);
   text-align: center;

   /* position: fixed;
   top: 55%;
   left: 50%; */
   /* transform: translate(-50%, -50%); */

   /* box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.50); */
   box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.50);
}

@media only screen and (max-width: 56.25em) {
   .pokemon {
      grid-template-columns: repeat(1, 1fr);
      max-width: 60rem;
   }
}

@media only screen and (max-width: 37.5em) {
   .pokemon {
      max-width: 100%;
   }
}

@media only screen and (max-width: 25.875em) {
   .pokemon {
      max-width: 100%;
   }
}

@media only screen and (max-width: 20em) {
   .pokemon {
      width: 100%;
   }
};

/* 
@media only screen and (max-width: 75em) {}
@media only screen and (min-width: 112.5em) {} 
*/