.pokemon-card {
   font-size: 1.4rem;
   padding: 2rem 0;
}

/************************
Pokemon Card Sub Info
************************/

.pokemon-card__sub-info {
   display: grid;
   grid-template-columns: repeat(4, auto);
   justify-content: center;
   width: 100%;
   margin-top: 1.5rem;
}

.pokemon-card__dex--text,
.pokemon-card__dex--data {
   display: block;
   text-align: center;
}

.pokemon-card__sub-info p:not(:last-child) {
   border-right: 2px solid #e7e7e7;
}

.pokemon-card__sub-info p {
   padding: 0 30px;
}

/************************
Pokemon Card Toggle
************************/

.pokemon-card__toggle[type="checkbox"] {
   position: relative;
   width: 40px;
   height: 15px;
   -webkit-appearance: none;
   background: #c6c6c6;
   outline: none;
   border-radius: 2rem;
   transition: all .2s;
}

.pokemon-card__toggle:checked[type="checkbox"] {
   background: #1565C0;
}

.pokemon-card__toggle[type="checkbox"]::before {
   -webkit-appearance: none;
   content: '';
   position: absolute;
   width: 15px;
   height: 15px;
   background: #fff;
   border-radius: 2rem;
   left: 0;
   border: .1px solid rgb(146, 146, 146);
   transition: all .2s;
}

.pokemon-card__toggle:checked[type="checkbox"]::before {
   left: 25px;
}

/************************
Pokemon Card Description
************************/

.pokemon-card__description {
   margin-top: 3rem;
   text-align: left;
   width: 36rem;
   margin: 3rem auto 0;
}

.pokemon-card__name {
   font-size: 2.5rem;
   font-weight: 500;
   text-transform: capitalize;
}

.pokemon-card__img {
   filter: drop-shadow(0px 6px 1px #000);
   margin-bottom: 2rem;
   width: 45%;
}


/************************
Pokemon Card Types
************************/
.type {
   color: #fff;
   border-radius: 3px;
   border: solid 1.6px #000;
   padding: 5px 25px;
   font-size: 1.4rem;
   font-weight: 900;
   display: inline-block;
   margin-top: 1rem;
   margin-bottom: 1rem;
   text-transform: capitalize;
   text-shadow: 0 1px 1px #000;
}

.type:not(:last-child) {
   margin-right: 15px;
}

.normal { background-color: #a8a77a; }
.fire { background-color: #ee812f; }
.grass { background-color: #7ac74c; }
.water { background-color: #6391f0; }
.electric { background-color: #f7d02c; }
.ice { background-color: #96d9d6; }
.ground { background-color: #e2bf65; }
.flying { background-color: #a98ff4; }
.poison { background-color: #a33ea2; }
.fighting { background-color: #c22e28; }
.psychic { background-color: #f95587; }
.dark { background-color: #705848; }
.rock { background-color: #b6a136; }
.bug { background-color: #a6b91b; }
.ghost { background-color: #735797; }
.steel { background-color: #b7b7ce; }
.dragon { background-color: #6f35fc; }
.fairy { background-color: #d686ad; }


@media only screen and (max-width: 25.875em) {
   .pokemon-card__sub-info p:not(:last-child) {
      border-right: none;
      border-bottom: 2px solid #e7e7e7;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;
   }

   .pokemon-card__sub-info p {
      border-bottom: 2px solid #e7e7e7;
      padding-bottom: 1rem;
      margin-bottom: 1.6rem;
   }

   .pokemon-card__sub-info {
      grid-template-columns: repeat(2, auto);
      width: 100%;
      margin-top: 1.5rem;

   }
   
   .pokemon-card__description {
      margin: 1rem auto 0;
      width: 80%;
      text-align: center
   }
}