.poke-card {
    perspective: 150rem;
    position: relative;
    height: 42rem;

    @include respond(tablet-portrait) {
        margin-top: 6rem;
    }

    &__side {
        height: 42rem;
        transition: all .5s ease;
    
        // needed for card to stack
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        @include respond(tablet-portrait) {
            height: 48rem;
        }

        @include respond(phone) {
            height: 35rem;
        }

        &--front {
            background-color: $color-white;
            background-image: url(../img/poke-card.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &--back {
            transform: rotateY(180deg);
            background-color: $color-blue;
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__cta {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
        color: $color-yellow;
    }

    // Pokemon Name
    &__heading {
        font-size: 2.5rem;
        text-transform: uppercase;
        // padding-top: .5rem;
        padding-bottom: 1rem;
    }

    // Pokemon Image
    &__img {
        width: 40%;
        margin: 0 auto;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    // for pokemon info
    &__text {
        font-size: 1.6rem;
        text-transform: capitalize;
    }

    // Pokemon Description
    &__desc {
        font-size: 1.4rem;
    }
}