.scroll-box {
    background-color: $color-blue;
    border-radius: 50rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .5);
    color: $color-white;
    width: 6rem;
    height: 6rem;
    position: fixed;
    top: 30rem;
    right: 5rem;
    transition: all .5s;
    z-index: 1000;

    &__link {
        color: $color-yellow;
        font-size: 4rem;
        text-decoration: none;

    }

    @include respond(tablet-landscape) {
        top: 38rem;
    }

    @include respond(tablet-portrait) {
        top: 34rem;
    }

    @include respond(tablet-portrait) {
        top: 30rem;
    }

    @include respond(smaller-phone) {
        top: 41rem;
        right: 3rem;
    }
}