.nav {
  background-color: var(--white) !important;
  color: #000;
  padding: 2rem 3.5rem;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.title,
.logo,
.item {
  align-items: center;
  color: var(--black);
  cursor: pointer;
  display: flex;
  text-decoration: none;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 0.5rem;
}

.icon {
  font-size: 3rem;
  margin-right: 0.4rem;
}

.list {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}

.list a:not(:last-child) {
  margin-right: 1.5rem;
}

.bars,
.close {
  display: none;
}

.close {
  color: var(--white);
  background: none;
  border: none;
  outline: none;
}

@media only screen and (max-width: 37.5em) {
  .nav {
    padding: 1.8rem 2rem;
  }

  .list {
    background-color: var(--primary);
    flex-direction: column;
    font-size: 2rem;
    gap: 1.5rem;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 100%;
    transition: all 0.3s;
    z-index: 1000;
  }

  .list a {
    color: var(--white);
    font-size: 2.6rem;
  }

  .list a:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .bars,
  .close {
    display: block;
    font-size: 2rem;
  }

  .close {
    position: absolute;
    top: 2.6rem;
    right: 2rem;
    z-index: 1000;
  }

  .responsive {
    left: 0;
  }
}
