body {
    background-color: rgb(235, 235, 235);
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    color: #000;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}

.primary-heading {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    padding-top: 2rem;

    &:after {
        display: block;
        height: 2px;
        background-color: $color-yellow;
        content: " ";
        width: 20rem;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}

.sub-text {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.7;
    text-align: center;

    max-width: $grid-width;
    margin: 0 auto;
    padding: 0 3rem;
}