.text-center { text-align: center; }

.text-left { text-align: left; }

.rotate-pokeball {
    animation-name: rotate-pokeball;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}