.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem 1.5rem;
  max-width: 114rem;
  margin: 0 auto;
}

.pokemon {
  background-color: #fff;
  border-radius: 0.6rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;

  /* Removes <Link> Margin remove the a tag somewhere in the css to prevent it from spreading */
  margin-right: 0 !important;
}

.pokemon:hover {
  transform: translateY(-0.5rem);
}

.pokemon img {
  padding: 1.5rem;
  width: 100%;
}

/* PAGINATION */

.pagination {
  max-width: 114rem;
  text-align: center;
  margin: 0 auto;
  padding-top: 6rem;
}

.prev,
.next {
  margin: 0 2rem;
  border-radius: 0.2rem;
  background: #fff;
  color: #000;
  padding: 1rem 6rem;
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);

  transition: all 0.2s;
}

.prev:hover,
.next:hover {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

@media only screen and (max-width: 75em) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 4rem;
    max-width: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .prev:hover,
  .next:hover {
    cursor: none;
  }
}

@media only screen and (max-width: 25.875em) {
  .prev,
  .next {
    padding: 1rem 4rem;
    margin: 0 1rem;
  }
}
