.pokemon-section {
    position: relative;
    text-align: center;
    margin-top: -35rem;
    transition: all .8s;

    &__poke-ball {
        background-image: url(../img/pokeball.png);
        background-position: center;
        background-size: cover;
        border-radius: 50rem;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
        width: 200px;
        height: 200px;
        margin: 0 auto;
        transition: all .8s;  
    }

    &__sprite {
        position: absolute;
        top: 15rem;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20rem;
    }
}

.pokemon-box-section {
    padding: 3rem 0 8rem;
}