.stat-bar {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   transition: all 0.3s ease-out;
}

.stat-bar__inner {
   height: 100%;
   width: 16px;
   border: .1px solid #31313144;
   border-radius: 12px;
   background-color: #e9e9e9;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   transition: all 0.3s ease-out;
   margin-bottom: 1rem;
}

.stat-bar__fill {
   background-color: #0082c8;
   border-radius: 10px;
   width: 100%;
   transition: all 0.3s ease-out;
}

.stat-bar__label {
   display: block;
   font-size: 1.4rem;
   font-weight: bold;
   text-align: center;
}

.stat-bar__label--value {
   display: block;
}

.stat-bar__label--attribute {
   display: block;
   text-transform: capitalize;
}

.stat-bar__label {
   display: block;
   font-size: 1.4rem;
   font-weight: bold;
   text-align: center;
}

@media only screen and (max-width: 20em) {
   .stat-bar__label {
      font-size: 1.2rem;
   } 
}